<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="creditCard">
      <h2 data-cy="creditCardDetailsHeading"><span>Credit Card</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ creditCard.id }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ creditCard.type }}</span>
        </dd>
        <dt><span>Number</span></dt>
        <dd>
          <span>{{ creditCard.number }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/credit-card', creditCard.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
